# makepkg build trees and artifacts
*/src/
*/pkg/
*.pkg.tar.*
*.log

# downloaded upstream sources
*.deb
*.AppImage
*.tar.gz
*.tar.xz
*.tar.zst
proton-drive-*-x86_64
proton-drive-*-aarch64
proton-vpn-gtk-app/
LICENSE
!proton_mail/LICENSE
