pkgbase = proton-pass-bin
	pkgdesc = Open-source password manager for effortless protection. Securely store, share and auto-login your accounts with Proton Pass, using end-to-end encryption trusted by millions.
	pkgver = 1.42.0
	pkgrel = 1
	url = https://proton.me/pass
	arch = x86_64
	groups = ProtonPass
	license = MIT
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libgcc
	depends = libudev.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxkbcommon
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	provides = proton-pass
	provides = protonpass
	conflicts = proton-pass
	conflicts = protonpass
	source = https://proton.me/download/pass/linux/proton-pass_1.42.0_amd64.deb
	sha512sums = 860550c8741da153494d381743226c9d44cfba42b381239f0f083336101d60e27340c10b00c2bcd2a0ec5cd8c226a4e8cb60508940b9cfdcc079584af035eec8

pkgname = proton-pass-bin
