pkgbase = proton-pass-bin
	pkgdesc = Open-source password manager for effortless protection. Securely store, share and auto-login your accounts with Proton Pass, using end-to-end encryption trusted by millions.
	pkgver = 1.41.1
	pkgrel = 1
	url = https://proton.me/pass
	arch = x86_64
	groups = ProtonPass
	license = MIT
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libgcc
	depends = libudev.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxkbcommon
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	provides = proton-pass
	provides = protonpass
	conflicts = proton-pass
	conflicts = protonpass
	source = https://proton.me/download/pass/linux/proton-pass_1.41.1_amd64.deb
	sha512sums = a4bb0e90270d0fde7beb2aa7a99a1595fc3bc3fbe1ae0062e842d387cdd46a17c24c5b36dd35a3fa37bd6b879dba123b5e7d4a7a3cf679236e1b8b5e416b34c2

pkgname = proton-pass-bin
